<!DOCTYPE html>
<html lang="en"></html>
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<title>Form Submission</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/style.css">
	</head>
    <body>
        @model User
        <div class="container">
            <div class = "formBox">
                <partial name="RegPartial" />
            </div>
            <div class = "formBoxMessage">
                <partial name="MessageRegPartial" />
                <partial name="MessageLoginPartial" />
            </div>
            <div class = "formBox">
                <partial name="LoginPartial" />
            </div>
        </div>
    </body>
</html>