@model User

<span asp-validation-for="FirstName"></span>
<span asp-validation-for="LastName"></span>
<span asp-validation-for="Email"></span>
<span asp-validation-for="Password"></span>
<span asp-validation-for="ConfirmPassword"></span>
    
